extends layout

block script

  script(src="/js/chart.js")

block content

  h4#temp Temperature (&deg;C)
  h4#pressure Air Pressure (mmHg)
  .clearfix
    canvas#tempchart(width=400, height=80, data-fridge=fridge)
    canvas#pressurechart(width=400, height=80, data-fridge=fridge)
