extends layout

block script

  script(src="/js/chart.js")

block content

  #chart1ipad
    h4#temp Temperature (&deg;C)
    canvas#tempchart(width=720, height=60, data-fridge=fridge)
    h4#pressure Air Pressure (mmHg)
    canvas#pressurechart(width=720, height=60, data-fridge=fridge)
