html

  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/fridge.css")
    block head

  body
    block content
    script(type="text/javascript", src="//code.jquery.com/jquery-1.10.1.min.js")
    script(type="text/javascript", src="/faye/client.js")
    script(type="text/javascript", src="/js/smoothie.js")
    block script
