extends layout

block head

  link(rel="stylesheet", href="/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")

block script

  script(src="/js/update.js")

block content

  a.btn.btn-primary#update(data-fridge=fridge, href="javascript:void(0);") Update Firmware
