h4 {
  width: 420px;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  float: left;
}

#tempchart {
  margin-right: 20px;
  clear: left;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}

#chart1 h4 {
  font-size: 0.6em;
}

#chart1 canvas {
  display: block;
}

#chart1 #tempchart {
  margin-bottom: 20px;
}

#status h4 {
  display: block;
  float: none;
}

#status #light {
  width: 200px;
  color: #fff;
  border: 1px #999 solid;
  display: block;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

#light.open {
  background-color: #ff0;
  color: #060 !important;
}

#light.closed {
  background-color: #060;
}

#light.alarm {
  background-color: #f00;
}
